<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.uriban.testanswer.mapper.TestAnswerMapper">
	<select id="selectTestAnswerList" resultType="TestAnswerVO">
		SELECT answer_no
			   , test_no
			   , test_answer
		FROM test_answer
		ORDER BY answer_no
	</select>
	
	<select id="selectTestAnswer" resultType="TestAnswerVO">
		SELECT answer_no
			   , test_no
			   , test_answer
		FROM test_answer
		WHERE answer_no = #{answerNo}
	</select>
	
	<insert id="insertTestAnswer" parameterType="TestAnswerVO">
		<selectKey keyProperty="answerNo"
				   resultType="int"
				   order="BEFORE">
			SELECT NVL(MAX(answer_no), 0) + 1
			FROM test_answer
		</selectKey>
		INSERT INTO test_answer
				(
					answer_no
					, test_no
					, test_answer
				)
		VALUES  (
					#{answerNo}
					, #{testNo}
					, #{testAnswer}
				)
	</insert>

	<update id="updateTestAnswer" parameterType="TestAnswerVO">
		UPDATE test_answer
		<set>
			<if test="testAnswer != null and !testAnswer.equals('')">
				test_answer = #{testAnswer}
			</if>
		</set>
		WHERE answer_no = #{answerNo}
	</update>
	
	<delete id="deleteTestAnswer" parameterType="int">
		DELETE FROM test_answer
		WHERE test_no = #{testNo}
	</delete>
</mapper>